@charset "UTF-8";

.container{
    display: flex;
    flex-direction: row;
    height: 800px;
    background-color: chartreuse; 
    flex-flow: wrap;
    
   
     
       
}
.container div {
    border: 1px solid black;
    padding: 100px;
}
.container .box1{
    flex-basis: 300px;
    
    
}
.container .box2{
    flex-basis: 20px;
    
}.container .box3{
    flex-basis: 30px;
}